body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
    font-weight: 500;
  
    
    
}

p{
    font-size: 20px;
    margin: 5px;
    text-align: justify;
    padding: 5px;
    line-height: 30px;
    font-family: "Raleway", serif;
    font-weight: 600;


}

.my-name{
    color: rgb(173, 221, 245);
    font-style: italic;
}

h1 {
    background: linear-gradient(to bottom, #135b8b, #344849);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin: 0 auto;
    font-size: 45px;
    font-style: italic;

}


nav ul{
    background: linear-gradient(to bottom, #03becf, #ffffff);
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav li{
 
    justify-content: center;
    flex: 1 1 100%
}

nav a {
    display: block;
    text-align: center; 
    text-decoration: none;
    padding: 1rem;
    font-size: 30px;
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
    color: rgb(0, 0, 0)
}

li a:hover {
    border: 1px solid #754a4a;
    border-radius: 10px;
    color: #051b08;
}

main{
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 20px;
    padding: 20px;
    max-width: 100%;

    
}


.card{
    text-align: center;
    border: 1px #bbbbbb solid;
    margin: 5px;
    border-radius: 5px;
    vertical-align: middle;

    
}

h2{
    margin-top: 0;
    font-size: 25px;
    background: linear-gradient(to bottom, #85d6dd, #ffffff);
    padding-bottom: 13px;
    padding-top: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #583030;
    text-align: center;
    align-items: center;
}

.about-me{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;

}

h3{
    font-size: 25px;
    padding-top: 10px;
}
.image-me {
    width: 160px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: #636363 solid 0.1px;
}

.chile-image{
    height: 80px;
    width: 120px;
    border-radius: 5px;
}

.my-country {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.web-div{
    text-align: left;
    margin: 0;
    padding-top: 50px;   
}


.web-il {
    margin-top: 17px;
    font-size: 20px;
    vertical-align: middle;

}
figure{
    margin:0;
    padding: 0;
}


figcaption{
    font-size: 13px;
    color: #4b4a4a;
}


footer {
    background: linear-gradient(to bottom, #2ac5d6, #282b49);
    text-align: center;
    justify-items: center;
    justify-content: center;
}

footer p{
    color: #1a1111;
    font-size: 14px;
    margin: 0;
    padding: 0;
    
}


