/* small view navigation */



      /* Media query for desktops (1024px and above) */
@media (max-width: 1020px) {
        .container {
            grid-template-columns: 1fr 1fr;
        }
        header {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        /* small view navigation */
        #menu {
            font-size: 1.5rem;
            border: 0;
            background: none;
            color: #000;
            position: absolute; /* Usa posición relativa al contenedor */
            top: 1rem; /* Ajusta la distancia desde arriba */
            right: 0.5rem; /* Ajusta la distancia desde la derecha */
            
        }

        button {
            display: block;
        }
        #menu::before {
            content: "☰";

        }

        #menu.open::before {
            content: "X";
            color: #bbb;
            font-size: 50px;
        }

        .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            list-style: none;
            background-color: #333;
            color: #fff;
        }

        .navigation a {
            display: none;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        .navigation a:hover {
            background-color: #bbb;
            color: #333;
            font-weight: 700;
        }

        /* when the button is clicked - the open class is toggled (added/removed) */
        .open {
            display: grid;
            grid-template-columns: 1fr;
        }
        .open a {
            display: block;
        }

        .open h1{
            display: none;
        }



}

    /* Media query for tablets (768px and above) */
@media (max-width: 768px) {
        .container {
            grid-template-columns: 1fr;
        }
        header {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        #menu {
            font-size: 1.5rem;
            border: 0;
            background: none;
            color: #000;
            position: absolute; /* Usa posición relativa al contenedor */
            top: 1rem; /* Ajusta la distancia desde arriba */
            right: 1rem; /* Ajusta la distancia desde la derecha */
            
        }

        button {
            display: block;
        }
        #menu::before {
            content: "☰";

        }

        #menu.open::before {
            content: "X";
            color: #bbb;
            font-size: 50px;
        }

        .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            list-style: none;
            background-color: #333;
            color: #fff;
        }

        .navigation a {
            display: none;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        .navigation a:hover {
            background-color: #bbb;
            color: #333;
            font-weight: 700;
        }

        /* when the button is clicked - the open class is toggled (added/removed) */
        .open {
            display: grid;
            grid-template-columns: 1fr;
        }
        .open a {
            display: block;
        }

        .open h1{
            display: none;
        }


}
  
